
/******* Données supplémentaire (font...) *******/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/******* style global site *******/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/******* style tout le body *******/

body {
    margin: 0 35px;
}

/******* 
*******************************************
Header version desktop 
*******************************************
*******/

header {
   display: flex;
}

header img {
    width: 100px;
}

nav {
    justify-content: flex-end;
    margin-left: auto;
}
/******* flex-end pour la nav à droire
 et margin-left pour séparer le bloc logo*******/

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a { 
    text-decoration: none;
    margin: 0 35px;
    color: black;
    font-weight: 600;
    margin-right: 0px;
   
}
a:hover, a:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 10px 0 0 0;
}

/******* Header version tablet *******/


/******* Header version mobile *******/
@media screen and (max-width: 768px) {

    header{
        display: block;
    }
    .logo {
        margin: auto;
        text-align: center;        
    }

    ul { 
        display: flex;
        justify-content: space-around;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    a {
        margin: 0 0 0 0;
    }

    a:hover, a:focus {
        color: black;
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding: 0 0 13px 0;
    }
}
  

/******* 
*******************************************
section h1 p formulaire de recherche
*******************************************
*******/

.h1_formulaire {
    width: 45%;
    margin-top: 30px;
}

.h1_formulaire h1 {
    font-size: 16px;
    font-weight: 800;
}

.h1_formulaire p {
    font-size: 12px;
}