
/******* Données supplémentaire (font...) *******/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/******* style global site *******/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/******* style tout le body *******/

body {
    margin: 0 35px;
}

/******* 
*******************************************
Header version desktop 
*******************************************
*******/

header {
   display: flex;
}

header img {
    width: 100px;
}

nav {
    justify-content: flex-end;
    margin-left: auto;
}
/******* flex-end pour la nav à droire
 et margin-left pour séparer le bloc logo*******/

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

nav a { 
    text-decoration: none;
    margin: 0 35px;
    color: black;
    font-weight: 600;
    margin-right: 0px;
   
}
nav a:hover, nav a:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 10px 0 0 0;
}

/******* Header version tablet *******/


/******* Header version mobile *******/
@media screen and (max-width: 768px) {

    header{
        display: block;
    }
    .logo {
        margin: auto;
        text-align: center;        
    }

    nav ul { 
        display: flex;
        margin: 0 -35PX;
        padding: 0 0 0 0;
    }
    nav a {    
        text-align: center;
        margin-left: 0px;    
    }

    nav li {
        border-bottom: 2px #F2F2F2 solid;
        width: 50%;
        text-align: center;
        padding-bottom: 16px;
    }
    nav li:hover, nav li:focus {
        width: 50%;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
        text-align: center;
    }
    nav a:hover, nav a:focus {
    color:  black;
    border-top: none;
    text-align: center;
    margin-left: 0px;      
    }
}
  

/******* 
*******************************************
section h1 p formulaire de recherche
*******************************************
*******/

.h1_formulaire {
    width: 45%;
    margin-top: 30px;
}

.h1_formulaire h1 {
    font-size: 16px;
    font-weight: 800;
}

.h1_formulaire p {
    font-size: 12px;
}

/******* TABLET section h1 p formulaire de recherche *******/


/******* MOBILE section h1 p formulaire de recherche *******/
@media screen and (max-width: 768px) {

    .h1_formulaire {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .h1_formulaire h1 {
        font-size: 22px;
        font-weight: 800;
    }
}







/******* 
*******************************************
section FOOTER
*******************************************
*******/
footer {
    background-color: #f2F2F2;
    display: flex;
    justify-content: space-between;
    margin: 0 -35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h3 {
    font-size: 14px;
    margin: 0 35px 0 35px;
}

footer ul {
    padding-left: 0px;
    
}

footer li {
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.block1, .block2, .block3 {
    margin: 0px 35px;
}

/******* TABLET footer *******/


/******* MOBILE footer *******/
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .block1, .block2, .block3 {
        margin: 0px 35px;
    }

}